.track-outer-container{
    width: 65%;
    /* height: 80%; */
    background-color: #e1ca74;
    border-radius: 30px;
}

.recommend-label{
    color: white;
    padding: 2% 5%;
}

.track-inner-container{
    width: 100%;
    /* height: inherit; */
    background-color: #fbe697;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-album{
    width: 50%;
    height: 50%;
    border-radius: 30px;
    padding: 5% 0%;
}

.song-info-container{
    text-align: center;
    color: #645621;
    margin-bottom: 5%;
}