@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.home-body {
  width: 100%;
  padding: 3%;
  display: flex;
  /* background-color: #fff4d0; */
  /* background-color: #fff4d0;*/
  background-color: #efc880;
  opacity: 1;
  background-color: #FFF6E5;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #FFF6E5 14px
    ),
    repeating-linear-gradient(#FFF6E5, #e6c892);

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.home-left-body {
  width: 50%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-right-body{
    /* width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 50%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wb-label {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  color: #ff4930;
  /*text-shadow: 
    2px 0 0 #000,  /* 2px right shadow, black */
  /*  -2px 0 0 #000,  /* 2px left shadow, black */
  /*  0 2px 0 #000,  /* 2px bottom shadow, black */
  /*  0 -2px 0 #000;  /* 2px top shadow, black */
  /*  font-size: 50px; */
}

.username {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: #fbeb04;
  text-shadow: 
    2px 0 0 #000,  /* 2px right shadow, black */
    -2px 0 0 #000,  /* 2px left shadow, black */
    0 2px 0 #000,  /* 2px bottom shadow, black */
    0 -2px 0 #000;  /* 2px top shadow, black */
    font-size: 50px;
}

.listening-to-container,
.mood-container {
  width: 60%;
}
