@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

.mood-label {
  background-color: #f8bcc0;
  border-radius: 30px;
}

.m-label {
  color: white;
  padding: 2% 5%;
}

.emotion-container {
  background-color: #ffdadd;
  border-radius: 30px;
}

.emotion-value {
  color: black;
  font-size: 55px;
  font-family: "Londrina Outline", sans-serif;
  font-weight: 2000;
  font-style: normal;
  margin: auto;
}

.predict_button {
  width: fit-content;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 2% 5%;
  margin-bottom: 5%;
  margin: 0 auto; /* Added horizontal margin auto */
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.3s;
  margin: auto;
  box-shadow: 0px 2px 2px rgb(185, 185, 185);
}

.predict_button.enabled {
  background-color: #ff7e7e; /* Color when track_id is present */
  &:hover{
    background-color: #c15e5e;
  }
}
