@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

.mood-label {
  background-color: #f8bcc0;
  border-radius: 30px;
}

.m-label {
  color: white;
  padding: 2% 5%;
}

.emotion-container {
  background-color: #ffdadd;
  border-radius: 30px;
}

.emotion-value {
  color: black;
  font-size: 55px;
  font-family: "Londrina Outline", sans-serif;
  font-weight: 2000;
  font-style: normal;
}

.predict_button{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
